In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [5]:
df=pd.read_csv('covid_toy.csv')

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [10]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [12]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [19]:
x_train.sample(5)

    age  gender  fever   cough       city
16   69  Female  103.0    Mild    Kolkata
48   66    Male   99.0  Strong  Bangalore
26   19  Female  100.0    Mild    Kolkata
34   74    Male  102.0    Mild     Mumbai
4    65  Female  101.0    Mild     Mumbai

In [20]:
from sklearn.compose import ColumnTransformer

In [28]:
transformer=ColumnTransformer(transformers=[
                ('tnf1',SimpleImputer(),['fever']),
                ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                ('tnf3', OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
                                                        
],remainder='passthrough')

In [31]:
transformer.fit_transform(x_train).shape

(80, 7)

In [33]:
transformer.transform(x_test).shape

(20, 7)